html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: $rubik;
  font-weight: 400;
  color: $primary-text;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1624px;
  padding: 0 32px;
  margin: 0 auto;
}

.destinations,
.offers,
.blog,
.trip,
.gallery,
.reviews {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section__header {
  display: flex;
  justify-content: space-between;
}

.section__title {
  font-family: $playfair;
  font-size: 64px;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 20px;
}

.section__subtitle {
  max-width: 1000px;
  line-height: 1.16;
  font-size: 24px;
  color: $secondary-text;
}

.swiper-nav {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  .swiper-nav-prev,
  .swiper-nav-next {
    @extend %button;
    width: 66px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 20px;
  }
  .swiper-nav-prev {
    background-image: url("../images/slider-arrow-prev.svg");
  }
  .swiper-nav-next {
    background-image: url("../images/slider-arrow-next.svg");
  }
}

.rating {
  display: flex;
  gap: 6px;
  .rating__star {
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../images/rating.svg");
    }
  }
}

@media screen and (max-width: 1024px) {
  .destinations,
  .offers,
  .blog,
  .trip,
  .gallery,
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section__title {
    font-size: 54px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .swiper-nav {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .section__title {
    font-size: 40px;
  }
  .section__subtitle {
    font-size: 20px;
  }
}
